.span{
    font-size: 10px;
    font-weight: 600;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
    transition: ease 2s;
}

input:invalid[focused="true"] ~ span{
    display: block;
}